
body{
	background: #FAFBFC url("../pics/grid.png") repeat scroll center top;
	margin: 0px;
}
/*
		--------------  Links  --------------
*/
.content a {
	color: #00274C;
}
a:hover {
	color: #FFCB05;
}
nav a {
	color: #00274C;
	font-size: x-large;
	text-decoration: none;
}
nav a h2{
	color: #00274C;
	font-size: large;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
header a{
	color: #FFCB05;
}

/*
		--------------  Main  --------------
*/
.content{
	background-color: rgba(152, 156, 151, .3);
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

/*
		--------------  Nav  --------------
*/
nav{
	position: fixed;
	padding: 5px;
	background-color: rgba(152, 156, 151, .3);
    left: 60px;
}

header{
	position: fixed;
	width: 100%;
	background-color: rgba(51, 51, 51, .9);
}
#headpic{
	height: 150px;
	border-radius: 50%;
}

#menu{
	display: none;
}

/*
		--------------  Experience  --------------
*/
ul{
	padding: 0px;
}
li{
	list-style-type: none;
}
h1{
	text-align: center;
	margin-top: 0px;
	padding-top: 30px;
}
.tag{
	border: 1px solid black;
	display: inline;
	border-radius: 2px;
	padding: 2px;
	text-decoration: none;
	background: #28a8e0 none repeat scroll 0% 0%;
	color: white;
	font-size: medium;
}
/*
		--------------  Courses  --------------
*/
td, th{
	width: 20%;
}
th:last-child{
	width:40%;
}

td:last-child{
	width:40%;
}
h2{
	text-align: center;
}
table{
	width: 100%;
}
th {
	border:none;
	color:#fff;
	text-decoration: none;
	background-color: #28a8e0;
	height:32px;
}
th:hover {
	cursor: pointer;
	text-decoration: none;
	background-color:#1b8aba;
}
th:focus {
	outline:none;
}
.search{
	width: inherit;
	width: 95%;
	color: black;
}

tr td:nth-child(4){
	text-align: center;
}

tr:nth-child(even){
	background-color: white;
}
.slicknav_btn{
	text-decoration: none;
	font-size: x-large;
}

/*
		--------------  Misc  --------------
*/
.none{
	display: none;
}
.yoxview a{
	width: 48%;
}


/*
		--------------  Media Queries  --------------
*/
@media (max-width: 1000px){
	.content{
		width: 75%;
	}
	tr th{
		display: none;
	}
	tr th:last-child{
		display: inline-block;
		width: 100%;
		padding-top: 5px;
	}
	table tr:first(){
		background-color: #28a8e0;
	}
	tr td:last-child{
		display: inline;
	}
	tr td{
		display: none;
	}
	nav{
		visibility: hidden;
	}
}
@media (max-width: 700px){
	.content{
		width: auto;
	}
}
@media (min-width: 1001px){
	.slicknav_menutxt{
		display: none;
	}
	.content{
		width: 50%;
	}
}
