.header {
	text-align:center;
	}

.editable {
	border-style:solid;
	border-width:medium;
	padding:10px;
	background: #F3F2F0;
	}

.beastbox{
	border-radius: 104px 32px 32px 32px;
	-moz-border-radius: 104px 32px 32px 32px;
	-webkit-border-radius: 104px 32px 32px 32px;
	border: 5px solid #000000;
	padding-left:50px;
	background-color: #ecf0f1;
	}
	
body {
	background: #bdc3c7;
	}
	
div {
    width: 900px;
    margin:0 auto;
	}

#map_canvas {
	width: 500px;
	height: 400px;
	}